/*selector universal
*{color: blue;}
*/

/*Comentario*/

p{color: crimson; font-weight: bold;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

.FondoGris{background-color: lightgray;}

#FondoH1{background-color: blue;}



